<html>
	<head>
	
	</head>
	<body>
		<div style="position:absolute; top:0px; height:100px;">
		<textarea id="text" type="text" onblur="updateLink()" style="width:400px;"></textarea><br>
		<a id="link" href="/" ><button>Send</button></a>
		</div><br><br>
		<div  style="position:absolute; top:150px;">
		<% @svgs.each do |s| %>
			<%= s.output %>
		<% end %>
		</div>
		<img src="help.svg" style="position:fixed; bottom:0px; right:0px;"></img>
	</body>
	
	<script>
		function updateLink(){
			var t = document.getElementById("text").value;
			document.getElementById("link").href = t;
		}
	</script>
</html>